.app-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 50%;
  padding: 100px 0;
}

.container-inner {
  padding: 0 50px;

  &_with-divider {
    border-left: 3px solid lightgrey;
  }
}

.title {
  color: grey;
}
